* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.8);
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    background: #B6A743;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: #FFFFFF;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #FFFFFF;
    background-color: #B85154;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: #FFFFFF;
    background: #B85154;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: #FFFFFF;
    background: #B85154;
    border-radius: 15px;
    opacity:0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: #B6A743;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: #B6A743;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:#FFFFFF;
    font-size:16px;
    font-weight:normal;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: #B6A743;
    margin: 3px 15px 3px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 3px solid #B6A743;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #FFFFFF;
}

#custom-tools {
    margin-right:12px;
}

#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:18px;
}

#custom-hypridle.active {
    color: #FFFFFF;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-system {
    margin-right:15px;
}

#custom-wallpaper {
    margin-right:25px;
}

#custom-waybarthemes, #custom-settings {
    margin-right:20px;
}

#custom-chatgpt {
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 16px;
    opacity: 0.8;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 20px;
}

#custom-ml4w-hyprland-settings {
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    color: #FFFFFF;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu, #custom-appmenuwlr {
    background-color: #B85154;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 15px 3px 14px;
    opacity:0.8;
    border:3px solid #B85154;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:20px;
    color: #FFFFFF;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: #B6A743;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#custom-updates.green {
    background-color: #B6A743;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: #B6A743;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:16px;
    color:#FFFFFF;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: #B85154;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    opacity:0.8;
    border:3px solid #B85154;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: #B6A743;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#pulseaudio.muted {
    background-color: #B85154;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: #B6A743;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#network.ethernet {
    background-color: #B6A743;
    color: #FFFFFF;
}

#network.wifi {
    background-color: #B6A743;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: #B6A743;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: #B6A743;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#battery.charging, #battery.plugged {
    color: #FFFFFF;
    background-color: #B6A743;
}

@keyframes blink {
    to {
        background-color: #B6A743;
        color: #FFFFFF;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #FFFFFF;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    padding: 0px 15px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
